
    <div class="container-fluid no-padding pagebanner" style="background-image: url(http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/pagebanner-about.jpg);">
    <div class="page-banner-inner">
      <div class="container">
        <h3>
          Karyera      </h3>
      </div>
    </div>
  </div>
  
  <div class="container-fluid no-padding page-breadcrumb">
    <div class="container">
                <div class="breadcrumb">
            <!-- Breadcrumb NavXT 5.5.2 -->
<span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Manufactory." href="/" class="home"><span property="name">Ana səyhifə</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><span property="name">  Karyera</span><meta property="position" content="2"></span>          </div>
              </div>
  </div>
  
<main id="main" class="site-main no-padding no-margin">
  <div class="page-content">    
    <div class="container">
      <div class="row">
        <div class="content-area full-content col-md-12 no-padding">
          <div id="post-8" class="post-8 page type-page status-publish hentry">
    <div class="entry-content">
    <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper">
  
    <div class="container aboutus-section ">
      <div class="row">
        <div class="col-md-6 aboutus-image">
          <div class="row">
            
              <img src="http://hnaudit.com/wp-content/uploads/2016/04/bd4f5b0e3c62e92dd3e8fc78be41f4ac.jpg" >
        
          </div>
        </div>
        <div class="col-md-6 aboutus-content">
          <p> BOLDEX  şirkəti texniki təchizat xidmətini müasir keyfiyyət və təhlükəsizlik standartlarına uyğun həyata keçirir. Təchiz etdiyimiz şirkətlərin texniki ehtiyaclarını dəqiq öyrənirik, onlara avadanlıq və istehsalçı seçməkdə yardım edirik, avadanlıqların vaxtında çatdırılması və quraşdırılması üçün peşəkar mütəxəssislərimizi cəlb edirik. Məhz bu səbəbdən bizim müştərilərimizin və partnyorlarımızın sayı ildən-ilə artmaqdadır. 

BOLDEX şirkəti neft-qaz sahəsində təcrübəsi olan təchizatçılar və layihə menecerlərini əməkdaşlığa dəvət edir. Maraqlı şəxslər CV-lərini office@boldex.az ünvanına göndərə bilərlər</p>
          
        </div>
      </div>
    </div>  
  
    
  
  
  </div></div></div></div>
      </div>
</div>        </div>
              </div>
    </div>
  </div>
</main>

     