<script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="js/jssor.slider-21.1.6.mini.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {

            var jssor_1_SlideoTransitions = [
              [{b:-1,d:1,o:-1},{b:0,d:1000,o:1}],
              [{b:1900,d:2000,x:-379,e:{x:7}}],
              [{b:1900,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:1000,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:1900,d:1600,x:-200,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*responsive code end*/
        });
    </script>
    <style>
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
    </style>
    <div class="test"></div>
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
            <div data-p="225.00">
                <img data-u="image" src="/6.jpg" />
                
            </div>
            <a data-u="any" href="http://www.jssor.com" style="display:none">Full Width Slider</a>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="/factory-future.jpg" />
            </div>
            <div data-p="225.00" data-po="80% 55%" style="display: none;">
                <img data-u="image" src="/factory-with-pipes.jpg" />
            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>
    <div class="vc_row wpb_row vc_row-fluid"><div class="container"><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper"><h3 style="font-size: 30px;line-height: 30px;text-align: left" class="vc_custom_heading">Haqqımızda</h3><div class="vc_tta-container" data-vc-action="collapse"><div class="vc_general vc_tta vc_tta-accordion vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-left"><div class="vc_tta-panels-container"><div class="vc_tta-panels"><div class="vc_tta-panel vc_active" id="1464775585539-965828e6-a8ee" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1464775585539-965828e6-a8ee" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Şirkət haqqında</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div><div class="vc_tta-panel-body">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accu santiumuo doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illomas inventore veritatis et quasi architecto beatae vitae dicta sunt explicaon Nemo enim ipsam voluptatem quia voluptas</p>

        </div>
    </div>
</div></div><div class="vc_tta-panel" id="1464775585604-96a3e2c8-94ad" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1464775585604-96a3e2c8-94ad" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Fəaliyyət tarixi</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div><div class="vc_tta-panel-body">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accu santiumuo doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illomas inventore veritatis et quasi architecto beatae vitae dicta sunt explicaon Nemo enim ipsam voluptatem quia voluptas</p>

        </div>
    </div>
</div></div><div class="vc_tta-panel" id="1464775675561-e456c3fe-8fe3" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title vc_tta-controls-icon-position-left"><a href="#1464775675561-e456c3fe-8fe3" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Partnyorlar</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div><div class="vc_tta-panel-body">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Perspiciatis unde omnis iste natus error sit voluptatem accu santiumuo doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illomas inventore veritatis et quasi architecto beatae vitae dicta sunt explicaon Nemo enim ipsam voluptatem quia voluptas</p>

        </div>
    </div>
</div></div></div></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper">     <div class="latestblog-section">
            <div class="section-header"><h3>İşlərimiz</h3></div>                 <div class="type-post">
                        <div class="entry-cover">
                            <div class="post-img">
                                <img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/06/blog-5-250x160.jpg" class="attachment-manufactory-250-160 size-manufactory-250-160 wp-post-image" alt="blog-5" width="250" height="160"> 
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="entry-block">
                            <div class="entry-title">
                                <a href="#">
                                    <h3>Expands food quality and safety services in Italy with acquisition of Food International Industries</h3>                                </a>
                            </div>
                           
                            <div class="entry-content">
                                <p>Nemo enim ipsam voluptate...</p>
                            </div>
                            <a class="single-read-more" href="#">Read More<span class="arrow_right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                                        <div class="type-post">
                        <div class="entry-cover">
                            <div class="post-img">
                                <img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/06/blog-4-250x160.jpg" class="attachment-manufactory-250-160 size-manufactory-250-160 wp-post-image" alt="blog-4" width="250" height="160"> 
                                <a href="#"></a>
                            </div>
                        </div>
                        <div class="entry-block">
                            <div class="entry-title">
                                <a href="#">
                                    <h3>Expands food quality and safety services in Italy with acquisition of Food International Industries</h3>                                </a>
                            </div>
                         
                            <div class="entry-content">
                                <p>Nemo enim ipsam voluptate...</p>
                            </div>
                            <a class="single-read-more" href="#">Read More<span class="arrow_right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                            
        </div>
        </div></div></div></div></div>
        <div class="container-fuild no-padding testimonial-section ">

        <div class="container features-section ">
            <div class="row">
                
        
        <div class="col-md-4 col-sm-6 col-xs-6 introdction-block ">
            <img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/revslider/home-slider-2/slider-4-370x281.jpg" class="attachment-manufactory-370-281 size-manufactory-370-281" alt="slider-4.jpg" width="370" height="281">
            <h3><a href="#">Agricultural Processing</a></h3>
            <span>Objectively innovate empowered</span>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-6 introdction-block ">
            <img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/06/service-detail-2-360x281.jpg" class="attachment-manufactory-370-281 size-manufactory-370-281" alt="service-detail-2" width="360" height="281">
            <h3><a href="#">Machinery &amp; Tools</a></h3>
            <span>Objectively innovate empowered</span>
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-6 introdction-block ">
            <img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/intro-lg-3.jpg" class="attachment-manufactory-370-281 size-manufactory-370-281" alt="intro-lg-3" srcset="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/intro-lg-3.jpg 370w, http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/intro-lg-3-300x228.jpg 300w" sizes="(max-width: 370px) 100vw, 370px" width="370" height="281">
            <h3><a href="#">Coal &amp; Solid Fuels</a></h3>
            <span>Objectively innovate empowered</span>
        </div>
            </div>
        </div>
        </div>   
        <div class="test" style="margin-bottom:-7px"><img src="https://cdn4.iconfinder.com/data/icons/industrial-vol-2/72/85-512.png" width="50px"></div>
        <div class="container-fuild no-padding client-section " style="background-color: #1db9f7;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <h3>Partnorlarımız</h3>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="client-logo-block owl-carousel owl-theme owl-loaded">
                            

        
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-890px, 0px, 0px); transition: all 0.2s ease 0s; width: 2670px;"><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-1-119x36.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-1" width="119" height="36"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-2.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-2" width="96" height="34"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-3.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-3" width="131" height="29"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-4-134x36.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-4" width="134" height="36"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-5.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-5" width="132" height="29"></a>
        </div></div><div class="owl-item active" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-1-119x36.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-1" width="119" height="36"></a>
        </div></div><div class="owl-item active" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-2.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-2" width="96" height="34"></a>
        </div></div><div class="owl-item active" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-3.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-3" width="131" height="29"></a>
        </div></div><div class="owl-item active" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-4-134x36.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-4" width="134" height="36"></a>
        </div></div><div class="owl-item active" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-5.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-5" width="132" height="29"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-1-119x36.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-1" width="119" height="36"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-2.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-2" width="96" height="34"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-3.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-3" width="131" height="29"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-4-134x36.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-4" width="134" height="36"></a>
        </div></div><div class="owl-item cloned" style="width: 158px; margin-right: 20px;"><div class="logg-box ">
            <a href="#"><img src="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/client-5.png" class="attachment-manufactory-134-36 size-manufactory-134-36" alt="client-5" width="132" height="29"></a>
        </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div style="display: none;" class="owl-dots"></div></div></div>
                    </div>
                </div>
            </div>
        </div>

