/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
@import "bootstrap";


.logo {
	float:left;
}
header > ul {
	float: right;
}
.navbar {
	margin-bottom: 0;
}
.navbar-nav {
background: url("/dsff.png");
float: right;
background-size: cover;
padding-left: 20px;
padding: 0px;
padding: 5px 10px 5px 20px;
height: 36px;
width: 500px;
}
.test {
    position: absolute;
   background: url("/dsf2.png");
z-index: 99999999;
background-size: cover;
height: 519px;
width: 321px;
float: right;
right: 79px;
margin-top: -17px;
}
#about {
    background: url("/world-map.png") no-repeat;
    min-height: 500px;
    background-size: cover;
}
#about > div >div >p {
	background: #fff;
padding: 10px;
margin-top: 100px;
}
#about > div > h3 {
	margin-top: 100px;
margin-left: 100px;
float: right;
background: #fff;
padding: 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
    border-right: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}