<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="http://lolthemes.com/demo/wpm/manufactory/xmlrpc.php">
  <!--[if lt IE 9]>
  <script src="http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/js/html5.js"></script>
  <![endif]-->
  <title>Eurogas Beta</title>
<meta name='robots' content='noindex,follow' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="alternate" type="application/rss+xml" title="Manufactory &raquo; Feed" href="http://lolthemes.com/demo/wpm/manufactory/feed/" />
<link rel="alternate" type="application/rss+xml" title="Manufactory &raquo; Comments Feed" href="http://lolthemes.com/demo/wpm/manufactory/comments/feed/" />
    <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/lolthemes.com\/demo\/wpm\/manufactory\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.6.1"}};
      !function(a,b,c){function d(a){var c,d,e,f,g,h=b.createElement("canvas"),i=h.getContext&&h.getContext("2d"),j=String.fromCharCode;if(!i||!i.fillText)return!1;switch(i.textBaseline="top",i.font="600 32px Arial",a){case"flag":return i.fillText(j(55356,56806,55356,56826),0,0),!(h.toDataURL().length<3e3)&&(i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,65039,8205,55356,57096),0,0),c=h.toDataURL(),i.clearRect(0,0,h.width,h.height),i.fillText(j(55356,57331,55356,57096),0,0),d=h.toDataURL(),c!==d);case"diversity":return i.fillText(j(55356,57221),0,0),e=i.getImageData(16,16,1,1).data,f=e[0]+","+e[1]+","+e[2]+","+e[3],i.fillText(j(55356,57221,55356,57343),0,0),e=i.getImageData(16,16,1,1).data,g=e[0]+","+e[1]+","+e[2]+","+e[3],f!==g;case"simple":return i.fillText(j(55357,56835),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode8":return i.fillText(j(55356,57135),0,0),0!==i.getImageData(16,16,1,1).data[0];case"unicode9":return i.fillText(j(55358,56631),0,0),0!==i.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity","unicode9"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <script type="text/javascript">
      


    $(document).ready(function() {
     var jssor_1_SlideoTransitions = [
              [{b:-1,d:1,o:-1},{b:0,d:1000,o:1}],
              [{b:1900,d:2000,x:-379,e:{x:7}}],
              [{b:1900,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:1000,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:1900,d:1600,x:-200,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*you can remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*responsive code end*/
      var owl = $("#owl-demo");
     
      owl.owlCarousel({
          items : 6, //10 items above 1000px browser width
          itemsDesktop : [1000,5], //5 items between 1000px and 901px
          itemsDesktopSmall : [900,3], // betweem 900px and 601px
          itemsTablet: [600,2], //2 items between 600 and 0
          itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
      });
     
      // Custom Navigation Events
      $(".next").click(function(){
        owl.trigger('owl.next');
      })
      $(".prev").click(function(){
        owl.trigger('owl.prev');
      })
      $(".play").click(function(){
        owl.trigger('owl.play',1000); //owl.play event accept autoPlay speed as second parameter
      })
      $(".stop").click(function(){
        owl.trigger('owl.stop');
      })
     
    });


    </script>
    <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='manufactory-toolkit-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/manufactory-toolkit/lib/css/plugin.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/revslider/public/assets/css/settings.css?ver=5.3.0.2' type='text/css' media='all' />
<style id='rs-plugin-settings-inline-css' type='text/css'>
#rs-demo-id {}
</style>
<link rel='stylesheet' id='woocommerce-layout-css'  href='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.6.8' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.6.8' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.6.8' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='ie-css-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/css/ie.css?ver=4.6.1' type='text/css' media='all' />
<![endif]-->

<link rel='stylesheet' id='manufactory-fonts-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i%2C900%2C900i%7CPT+Sans%3A400%2C400i%2C700%2C700i&#038;subset=latin%2Clatin-ext&#038;ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-includes/css/dashicons.min.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='manufactory-lib-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/libraries/lib.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='stroke-gap-icon-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/libraries/stroke-gap-Icon/stroke-gap-icon.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='manufactory-plugins-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/css/plugins.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='manufactory-navigation-menu-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/css/navigation-menu.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='manufactory-stylesheet-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/style.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='manufactory-shortcode-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/css/shortcode.css?ver=4.6.1' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.0' type='text/css' media='all' />

<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/manufactory-toolkit/lib/js/plugin.js?ver=1.0'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js?ver=5.3.0.2'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.3.0.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/demo\/wpm\/manufactory\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/demo\/wpm\/manufactory\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/lolthemes.com\/demo\/wpm\/manufactory\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.6.8'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=5.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var simpleLikes = {"ajaxurl":"http:\/\/lolthemes.com\/demo\/wpm\/manufactory\/wp-admin\/admin-ajax.php","like":"Like","unlike":"Unlike"};
/* ]]> */
</script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/include/postlike/simple-likes-public.js?ver=0.5'></script>
<!--[if lt IE 9]>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/js/html5/respond.min.js?ver=3.7.3'></script>
<![endif]-->
<link rel='https://api.w.org/' href='http://lolthemes.com/demo/wpm/manufactory/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://lolthemes.com/demo/wpm/manufactory/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://lolthemes.com/demo/wpm/manufactory/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.6.1" />
<meta name="generator" content="WooCommerce 2.6.8" />
<link rel="canonical" href="http://lolthemes.com/demo/wpm/manufactory/" />
<link rel='shortlink' href='http://lolthemes.com/demo/wpm/manufactory/' />
<link rel="alternate" type="application/json+oembed" href="http://lolthemes.com/demo/wpm/manufactory/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flolthemes.com%2Fdemo%2Fwpm%2Fmanufactory%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://lolthemes.com/demo/wpm/manufactory/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flolthemes.com%2Fdemo%2Fwpm%2Fmanufactory%2F&#038;format=xml" />
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.3.0.2 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<link rel="icon" href="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/apple-icon-114x114-77x77.png" sizes="32x32" />
<link rel="icon" href="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/apple-icon-114x114.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/apple-icon-114x114.png" />
<meta name="msapplication-TileImage" content="http://lolthemes.com/demo/wpm/manufactory/wp-content/uploads/2016/07/apple-icon-114x114.png" />
<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

<body class="home page page-id-5 page-template-default front-page wpb-js-composer js-comp-ver-5.0 vc_responsive" data-offset="200" data-spy="scroll" data-target=".ow-navigation">

  <div id="site-loader" class="load-complete">
    <div class="loader">
      <div class="loader-inner ball-clip-rotate">
        <div></div>
      </div>
    </div>
  </div>

  <header class="header-main container-fluid no-padding">
    <div id="slidepanel">
   
            <div class="middle-header container-fluid">
        <div class="container">
          <div class="logo-block">
                            <a class="text-logo" href="/" title="Manufactory" style="margin-top:0"><img src="/logo.png" width="150"></a>  
                          </div>
          <div class="header-info">
                            <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal" style="background:#1B75BB">
                  Bizə yazın               </button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="background:#1B75BB">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">   Bizə yazın  </h4>
                      </div>
                       <div class="modal-body">
                        <div role="form" class="wpcf7" id="wpcf7-f67-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/demo/wpm/manufactory/#wpcf7-f67-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="67" />
<input type="hidden" name="_wpcf7_version" value="4.5.1" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f67-o1" />
<input type="hidden" name="_wpnonce" value="c1d8a9ea43" />
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
<div class="form-group">
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span>
  </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
<div class="form-group">
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email" /></span>
  </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
<div class="form-group">
    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Subject" /></span>
  </div>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
<div class="form-group">
    <span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Phone" /></span>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="form-group">
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea></span>
  </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
<div class="form-submit-btn">
    <input type="submit" value="Request A Quote" class="wpcf7-form-control wpcf7-submit" />
  </div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>                     </div>
                    
                    </div>
                  </div>
                </div>
                            <ul>
              <li>
                <h3>Number #1 Provider</h3><span>of Industrial Solution</span>              </li>
              <li>
                <h3>Global Certificate</h3><span>ISO 9001:2015</span>             </li>
              <li>
                <h3>Award Winning</h3><span>Solution Of The Year</span>             </li>
            </ul>
          </div>
        </div>
      </div>  
      <div class="container">
        <div class="header-social">
          <ul>
            <li><a target="_blank" href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><li><a target="_blank" href="http://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><li><a target="_blank" href="http://linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><li></li>          </ul>
        </div>
      </div>
    </div>    

    <!-- Menu Block -->
    <div class="menu-block menu-block-section container-fluid no-padding">

      <div class="container"> 
        
        <nav class="navbar ow-navigation col-md-9 col-sm-12 col-xs-12 no-padding">
          <div id="loginpanel" class="desktop-hide">
            <div class="right" id="toggle">
              <a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
              <a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
            </div>
          </div>
          <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="menu-default-logo">
                                <a class="text-logo" href="#" title="Manufactory">Eurogas</a>  
                              </div>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul id="menu-main-menu" class="nav navbar-nav menubar"><li id="menu-item-37" class="hide-text menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-37 dropdown active"><a title="Home" href="#" class="dropdown-toggle" aria-haspopup="true"><span class="fa fa-home"></span>&nbsp;Home</a><i class='ddl-switch fa fa-angle-down'></i>


</li>
<li id="menu-item-204" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-204 dropdown"><a title="Solution" href="#" class="dropdown-toggle" aria-haspopup="true">Haqqımızda</a><i class='ddl-switch fa fa-angle-down'></i>

<ul role="menu" class=" dropdown-menu">
  <li id="menu-item-277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277"><a title="Services" href="#">Şirkət haqqında</a></li>
  <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-198"><a title="Aerospace &#038; Defence" href="#">Fəaliyyət tarixi</a></li>
  <li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-199"><a title="Agricultural Processing" href="#">Partnyorlar</a></li>
  
</ul>
</li>
<li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a title="Project" href="#">Xidmətlər</a></li>
<li id="menu-item-227" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-227"><a title="Blog" href="#">Məhsullar</a></li>
<li id="menu-item-228" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-228"><a title="Services" href="#">Karyera</a></li>
<li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a title="Shop" href="#">Xəbərlər</a></li>
<li id="menu-item-230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230"><a title="About" href="#">Əlaqə</a></li>


</li>
</ul>         </div>
        </nav><!-- Navigation /- -->
        
        <div class="menu-search">
          <div id="sb-search" class="sb-search">
            <form method="get" id="searchform" class="searchform" action="http://lolthemes.com/demo/wpm/manufactory/" >
      <input type="text" name="s" id="s" placeholder="Enter your search term..." class="form-control sb-search-input" required>
      <button class="sb-search-submit" type="submit"><i class="fa fa-search"></i></button>
      <span class="sb-icon-search"></span>
    </form>         </div>
        </div>
      </div>
    </div>
  </header>

        
          <%= bootstrap_flash %>
          <%= yield %>
      
        

     <footer class="footer-main container-fluid no-padding">
      <div class="container">
        <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6 ftr-widget about-widget">
                <aside id="text-2" class="widget widget_text"><h3>About Us</h3>     <div class="textwidget"><p>At vero eos et accusamus et iusto elity lit agnissmos ducimus quidtiis praesetium ptatum mole deeniti. Ducimus os quidtiis praesetium ptatum mole deeniti hates lites fortune .</p>

<a href="#">Learn More</a></div>
    </aside>              </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 ftr-widget link-widget">
                <aside id="nav_menu-2" class="widget widget_nav_menu"><h3>Solution</h3><div class="menu-solution-footer-menu-container"><ul id="menu-solution-footer-menu" class="menu"><li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-265"><a href="#">Agricultural Processing</a></li>
<li id="menu-item-266" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-266"><a href="#">Coal &amp; Solid Fuels</a></li>
<li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-267"><a href="#">Industrial Chemicals</a></li>
<li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-268"><a href="#">Machinery &amp; Tools</a></li>
<li id="menu-item-269" class="menu-item menu-item-type-post_type menu-item-object-manufactor_service menu-item-269"><a href="#">Oil and Gas Revolution</a></li>
</ul></div></aside>             </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 ftr-widget contact-widget">
                <aside id="widget_contactus-2" class="widget widget-contact"><h3>Keep in touch</h3>             
    <div class="about-text">
                <p>
            <span class="icon icon-Pointer"></span>
            Address :           44 New Design Street, Melbourne 005         </p>
                    <p>
            <span class="icon icon-Phone2"></span>
            Phone :           
            <a href="tel:(01)-800-433-633">(01) 800 433 633</a>
          </p>
                    <p>
            <span class="icon icon-Mail"></span>
            Email :           <a href="mailto:info@anous.com">info@anous.com</a>
          </p>
                    <p>
            <span class="icon icon-Printer"></span>
            Fax :           
            <a href="tel:(01)-800-854-633">(01) 800 854 633</a>
          </p>
              </div>
    
    </aside>              </div>
                           
                      </div>
      </div>
      <div class="footer-bottom" style="background-color: #1B75BB;">
        <div class="container">
          <div class="col-md-6 col-sm-12 col-xs-12  no-padding copyright-section">
            <p style="color:#fff">Copyrights © 2016 All Rights Reserved</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 no-padding footer-menu-link">
            <ul id="menu-footer-menu" class="footer-menu"><li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a title="Terms Of Use" href="#" style="color:#fff">Terms Of Use</a></li>
<li id="menu-item-206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-206"><a title="Privacy &amp; Security Statement" href="#" style="color:#fff">Privacy &amp; Security Statement</a></li>
</ul>           
          </div>
        </div>
      </div>
    </footer>

<script type="text/javascript">(function() {function addEventListener(element,event,handler) {
  if(element.addEventListener) {
    element.addEventListener(event,handler, false);
  } else if(element.attachEvent){
    element.attachEvent('on'+event,handler);
  }
}function maybePrefixUrlField() {
  if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
    this.value = "http://" + this.value;
  }
}

var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
if( urlFields && urlFields.length > 0 ) {
  for( var j=0; j < urlFields.length; j++ ) {
    addEventListener(urlFields[j],'blur',maybePrefixUrlField);
  }
}/* test if browser supports date fields */
var testInput = document.createElement('input');
testInput.setAttribute('type', 'date');
if( testInput.type !== 'date') {

  /* add placeholder & pattern to all date fields */
  var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
  for(var i=0; i<dateFields.length; i++) {
    if(!dateFields[i].placeholder) {
      dateFields[i].placeholder = 'YYYY-MM-DD';
    }
    if(!dateFields[i].pattern) {
      dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
    }
  }
}

})();</script>    <script type="text/javascript">
      function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
          jQuery(sliderID).show().html(errorMessage);
      }
    </script>
    <link rel='stylesheet' id='vc_tta_style-css'  href='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/css/js_composer_tta.min.css?ver=5.0' type='text/css' media='all' />
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/lolthemes.com\/demo\/wpm\/manufactory\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.5.1'></script>
<script type='text/javascript' src='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/demo\/wpm\/manufactory\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/demo\/wpm\/manufactory\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.6.8'></script>
<script type='text/javascript' src='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/demo\/wpm\/manufactory\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/demo\/wpm\/manufactory\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//lolthemes.com/demo/wpm/manufactory/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.6.8'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/libraries/lib.js'></script>
<script type='text/javascript'>

      var templateUrl = "http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory";
    
</script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/themes/manufactory/js/functions.js'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-includes/js/wp-embed.min.js?ver=4.6.1'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.0'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/lib/vc_accordion/vc-accordion.min.js?ver=5.0'></script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/js_composer/assets/lib/vc-tta-autoplay/vc-tta-autoplay.min.js?ver=5.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mc4wp_forms_config = [];
/* ]]> */
</script>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js?ver=4.0.7'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='http://lolthemes.com/demo/wpm/manufactory/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.0.7'></script>
<![endif]-->
</body>
</html>